<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
      <ol class="breadcrumb">
          <li><a [routerLink]="['/']">Super Ensino</a></li>
          <li>Cargos</li>
        </ol>
        <form #form="ngForm" novalidate>
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="glyphicon glyphicon-hourglass"></i> Cadastrar Cargo
              </h2>
            </div>
          </div>                

          <div class="row invoice-info">
            <div class="col-xs-12">
              <p class="lead">Informações Gerais</p>
            </div>
            <div class="col-sm-4">
              <label>Cargo</label>
              <mt-input-container errorMessage="Campo obrigatório" label="cargo">
                <select type="text" class="form-control" name="cargo" required ngModel placeholder="cargo" autocomplete="off">
                  <option [ngValue]="cargo" *ngFor="let cargo of cargos">{{cargo.nome}}</option>
                </select>
              </mt-input-container>
            </div>
            <div class="col-sm-4">
              <label>Nivel</label>
              <mt-input-container errorMessage="Campo obrigatório" label="nivel">
                <select type="text" class="form-control" name="nivel" required ngModel placeholder="nivel" autocomplete="off">
                  <option [ngValue]="nivel" *ngFor="let nivel of niveis">{{nivel.nome}}</option>
                </select>
              </mt-input-container>
            </div>
            <div class="col-sm-4 col-xs-6">
              <label>Salario</label>
              <mt-input-container errorMessage="Campo obrigatório" label="salario">
                <input class="form-control" type="number" step="0.01" name="salario" ngModel required placeholder="Valor" autocomplete="off">
              </mt-input-container>
            </div>
           
            <!--<div class="col-sm-6 col-xs-6">
                <label>Funcionário</label>
                <mt-input-container errorMessage="Campo obrigatório" label="funcionario">
                    <select type="text" class="form-control" name="funcionario" required ngModel placeholder="Nome do funcionário">
                      <option>Marcos de Souza</option>
                    </select>
                </mt-input-container>
            </div>-->
            <!-- /.col -->
          </div>
          
          <!-- /.row -->

          <!-- Table row 
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>
            
          </div>-->
          
          <!-- /.row -->
          <div class="row">
            <div class="pull-right">
                <button  (click)="form.reset()" type="button" class="btn btn-danger">
                 <i class="fa fa-trash"></i> Limpar</button>
                <button [disabled]="!form.valid" (click)="submit(form.value)" class="btn btn-success" >
                 <i class="glyphicon glyphicon-save"></i> Cadastrar
              </button>
            </div>
          </div>
        </form>
    </section>
</section>
<!-- FIM DO CONTEUDO-->